.contain-part-life{
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}
.contain-part-life .part-content p{
    font-size: 30px;
    line-height: 45px;
}
.part-content{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    text-align: left;
    margin-left: auto;
    padding: 100px;
}
.contain-part-life .row{
    align-items: center;
}
.contain-part-life .part-content .page-title{
    font-size: 60px;
    line-height: 75px;
    position: relative;
}
.contain-part-life .part-content .page-title::before{
    background-color: #000000;
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    width: 280px;
    height: 10px;
    transform: translate(-320px, 28px);
    display: inline-block;
}
/* contain-our-focus section start */
.contain-our-focus{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 110px 0px 150px 0px;
    background:url('../images/Home/tree-bg1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.contain-our-focus .focus-content {
    width: 85%;   
    text-align: left;
    margin-right: auto;
    padding: 100px;
}
.contain-our-focus .focus-content p{
    font-size: 32px;
    line-height: 40px;
    color: #1A1818;
    padding-bottom: 50px;
}
.contain-our-focus .focus-content p b{
    font-family: 'Graphik-SemiBold';
}



/* contain-our-focus section end */
.staff-profile-section{
    position: relative;
    text-align: center;
    background:url('../images/whole-team.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 820px;
    width: 100%;
    margin-top: 250px;
    
}
.staff-profile-section .staff-box{
    background: #7DB1C7;
    position: relative;
    text-align: center;
    padding: 100px;
    top: -250px;
}
.staff-profile-section .staff-box p{
  font-family: 'Graphik-Bold';
}
.staff-profile-section .sub-title {
    font-size: 40px;
    line-height: 58px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
}
.staff-profile-section .staff-box .p-btn-white{
    margin: 30px 0px 0px 0px;
}

.we-practice-section{
    position: relative;
    padding: 150px 0px;
}
.we-practice-section .row{
    align-items: center;
}
.we-practice-section p{
    font-size: 22px;
    line-height: 40px;
}
.we-practice-section p b{
    font-family: 'Graphik-SemiBold';
}
.we-practice-section .page-title {
    font-size: 60px;
    line-height: 70px;
}

.community-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 150px 0px;
    background:url('../images/community-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;
}
.community-section .page-title-white {
    font-size: 60px;
    line-height: 75px;
}
.community-section .row{
    align-items: center;
}
.community-section p{
    font-size: 22px;
    line-height: 40px;
    padding: 20px;
}
@media(max-width:1820px) {
    .contain-our-focus .focus-content {
        width: 100%;
        text-align: left;
        margin-right: auto;
        padding: 70px;
    }
    .contain-our-focus .focus-content p {
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 30px;
    }
    .contain-our-focus {       
        padding: 90px 0px 100px 0px;
    }
    .staff-profile-section .staff-box {       
        padding: 50px;
    }
    .staff-profile-section .sub-title {
        font-size: 30px;
        line-height: 48px;
    }
    .staff-profile-section {
        min-height: 500px;
    }
    .we-practice-section {
        padding: 100px 0px;
    }
    .community-section {      
        padding: 130px 0px;
        min-height: 100%;
    }
}
@media(max-width:1199px)
{
    .contain-our-focus .focus-content {
        width: 100%;
        padding: 0px 50px 50px 50px;
    }
    .contain-part-life {
        padding-top: 50px;
    }
    .contain-our-focus {
        padding: 50px 0px 50px 0px;
    }
    .we-practice-section {
        padding: 50px 0px;
    }
    .we-practice-section .page-title,
    .community-section .page-title-white{
        font-size: 50px;
        line-height: 60px;
    }
    .we-practice-section p,
    .community-section p {
        font-size: 16px;
        line-height: 26px;
    }
    .part-content {
        width: 100%;        
        padding: 50px;
    }
}
@media(max-width:991px)
{
    .contain-part-life {
        padding-top: 0px;       
    }
    .contain-part-life .part-content .page-title {
        font-size: 50px;
        line-height: 65px;
    }
    .contain-our-focus .focus-content {       
        padding: 50px;
    }
    .contain-our-focus {
        padding: 70px 0px 40px 0px;
    }
    .staff-profile-section .sub-title {
        font-size: 22px;
        line-height: 38px;
    }
    .community-section .page-title-white {
        font-size: 50px;
        line-height: 65px;
    }
    .community-section p {
        font-size: 20px;
        line-height: 30px;
    }
}
@media(max-width:767px)
{
    .part-content {
        width: 100%;
        padding: 31px 0px;
    }
    .contain-part-life .part-content p {
        font-size: 20px;
        line-height: 30px;
    }
    .contain-part-life .part-content .page-title,
    .community-section .page-title-white{
        font-size: 32px;
        line-height: 42px;
    }
    .contain-our-focus .focus-content {
        padding: 30px 0px;
    }
    .contain-our-focus .focus-content p {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 15px;
    }
    .staff-profile-section .staff-box {
        padding: 20px;
    }
    .staff-profile-section .sub-title {
        font-size: 20px;
        line-height: 30px;
    }
    .we-practice-section {
        padding: 30px 0px;
    }
    .we-practice-section p {
        font-size: 20px;
        line-height: 30px;
    }
    .community-section {
        padding: 50px 0px;
    }
    .community-section p {
        padding: 0px;
    }
}
